# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\P2021\L-AK-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
